__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.Rhistory
.RData
.Rproj.user/
.vscode/
.idea/
Thumbs.db
.DS_Store
.env
.env.*
config/local*.yml
config/private*.yml
*.exe
*.dll
data/raw/
data/private/
results/*
!results/README.md
*.zip
*.7z
*.rar
evt_*.txt
wat_*.txt
sol_*.txt
sum_*.txt
crp_*.txt
